@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,500';
@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,700';
html, table {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* 2 */
}