extends ./layout.jade

block title
    title Browse Games | huzzah

block content
    .form(ng-controller="listController")
        .game(ng-repeat="game in list")
            a(href='/game/{{game._id}}') {{game.title}}
            //button(ng-click="addToList(game._id, game.title)", ng-disabled='isDisabled') {{button}}