extends ./layout

block title
    if user.facebook
        title= user.facebook.name
    else if user.local.username
        title= user.local.username

block content

    .profile(ng-controller="dashboardController")
        h1 currently playing
        .list(ng-repeat="game in allData.currentlyPlaying")
            a(href='/game/{{game.gameId}}') {{ game.gameName }} | {{ game.hoursPlayed }} hrs
            span(style='background-color:yellow;') {{ game.rating }}

        h1 completed
        .list(ng-repeat="game in allData.completed")
            a(href='/game/{{game.gameId}}') {{ game.gameName }} | {{ game.hoursPlayed }} hrs
            span(style='background-color:yellow;') {{ game.rating }}

        h1 all
        .list(ng-repeat="game in allData.gameList")
            a(href='/game/{{game.gameId}}') {{ game.gameName }} | {{ game.hoursPlayed }} hrs
            span(style='background-color:yellow;') &nbsp;[{{ game.rating }}]

        p {{ allData.gameList }}





        // if logged in, show personal stats like games played, estimated hours spent gami
        .stats
            .stats__games-played
                p {{ allData.statistics.games }} games played

            .stats__total-hours-spent
                p {{ allData.statistics.hours }} hours spent gaming

            // pie chart. use d3?
            .stats__platforms
                p 10% nintendo | 87% pc | 3% playstation